# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Azin\01 Douglas college\semester 4\Software Engineering - 3275-002\assignments\Lab1 - Git &Github\gitTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
